.cart {
    position: sticky;
    top: 0%;
}

#btn-complete {
    width: 100%;
    margin: 10px auto;
    font-size: 16px;
    color: white;
    background-color: rgb(144, 12, 62);
    border: none;
    border-radius: 10px;
}

#btn-complete:hover {
    background-color: rgb(255, 87, 51);
    cursor: pointer;
}