.time-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
}

.time {
    border: 1px solid black;
    border-radius: 20%;
    padding: 5px;
    text-align: center;
    margin-top: -10px;
    color: white;
    background-color: rgb(144, 12, 62);
}